const { SlashCommandBuilder } = require('@discordjs/builders');

module.exports = {
	data: new SlashCommandBuilder()
		.setName('example')
		.setDescription('Example command')
		.addStringOption(input =>
			input.setName('example')
				.setDescription('example string arg')
				.setRequired(true)),
	async execute(interaction) {
		interaction.reply({ content: 'Hello, World!', ephemeral: true });
	},
};

/*
This code follows the Discord.JS guide, it has been tweaked quite a bit though.
To create a command place it in the respective folder, if no folder exists i.e. moderation, create it.

Before submitting a pull-request to using this in production, test your code.
 */