const { SlashCommandBuilder } = require('@discordjs/builders');

module.exports = {
	data: new SlashCommandBuilder()
		.setName('example')
		.setDescription('Example command')
		.addStringOption(input =>
			input.setName('example')
				.setDescription('example string arg')
				.setRequired(true)),
	async execute(interaction) {
		interaction.reply({ content: 'Hello, World!', ephemeral: true });
	},
};